In [7]:
import pandas as pd 
import numpy as np
import matplotlib as plt

In [13]:
Colu_rows = {
    "Brayan": [2, 3, 5, 6, 7],
    "Andres": [3, 4],
    "Medina": [5, 7, 8], 
    "vera" : [1, 3, 4]
}
data = pd.DataFrame({
    "Brayan": [2, 3, 5, 6, 7],
    "Andres": [3, 4, 5, 6, 7],
    "Medina": [5, 7, 8, 6, 6], 
    "vera" : [1, 3, 4, 1, 2]
})

In [14]:
data.head(5)

   Brayan  Andres  Medina  vera
0       2       3       5     1
1       3       4       7     3
2       5       5       8     4
3       6       6       6     1
4       7       7       6     2

In [2]:
print(a)

4

In [3]:
print(b)

5