In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv("gender_submission.csv")
data.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0