In [214]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import random

In [215]:
#contants
data= {}
movies_list = []
users = []
movies = []

#THE USER BOUGHT YES OR NOT WITH YES AS 1 AND NO AS 0
purchase = [0, 0, 0, 1]

for i in range(10):
    YesOrNot = []

    #generating the variables
    globals()['user_{}'.format(i)] = YesOrNot
    globals()['movies_{}'.format(i)] = []

    data['Movie_{}'.format(i)] = globals()['user_{}'.format(i)]

    #List of othe movies and the users
    users.append('users_{}'.format(i))
    movies.append('movies_{}'.format(i))

    #assig each one variable to a list with 10 random elements 
    for i in range(10):
        value = random.choice(purchase)
        YesOrNot.append(value)
data["Users"] = users

In [213]:
df = pd.DataFrame(data).set_index("Users")
df.head(10)

,Movie_0,Movie_1,Movie_2,Movie_3,Movie_4,Movie_5,Movie_6,Movie_7,Movie_8,Movie_9
Users,,,,,,,,,,
users_0,1,0,0,0,0,1,0,1,0,0
users_1,0,0,0,0,0,0,0,1,1,0
users_2,1,1,0,0,1,0,0,0,0,0
users_3,1,0,0,0,0,0,0,0,0,0
users_4,0,0,0,0,0,0,0,0,0,0
users_5,0,1,1,1,1,0,0,1,1,0
users_6,0,0,0,0,0,1,1,1,0,1
users_7,1,0,0,0,0,0,0,0,0,0
users_8,0,0,1,1,0,0,0,0,1,0
users_9,0,0,0,1,1,0,0,1,0,0

In [206]:
intento = {
    "brayan" : ["1", "2", 3, 4, 5],
    "andres" : ["2", "5", 1, 4, 5],
    "vera" : [1, 2, 3, 4, 5,],
    "medina" : ["3", "5", 1, 2, 3]
}
for i in range(10):
    globals()['user_{}'.format(i)] = i 
    globals()['movies_{}'.format(i)] = i +1
    #print(globals()['user_{}'.format(i)])
    intento['movies_{}'.format(i)] = globals()['user_{}'.format(i)]
dataFr = pd.DataFrame(intento)
dataFr.head(10)

,brayan,andres,vera,medina,movies_0,movies_1,movies_2,movies_3,movies_4,movies_5,movies_6,movies_7,movies_8,movies_9
0,1,2,1,3,0,1,2,3,4,5,6,7,8,9
1,2,5,2,5,0,1,2,3,4,5,6,7,8,9
2,3,1,3,1,0,1,2,3,4,5,6,7,8,9
3,4,4,4,2,0,1,2,3,4,5,6,7,8,9
4,5,5,5,3,0,1,2,3,4,5,6,7,8,9